@font-face {
    font-family: '8bitoperator';
    src: url('/assets/fonts/8bitoperator/8bitoperator.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #ffffff;
    font-family: '8bitoperator', sans-serif;
    background-color: black;
}

header {
    margin-bottom: 150px;
}

#name {
    margin-bottom: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#name h1 {
    font-size: 90px;
}

#name p {
    color: red;
    text-align: left;
    font-size: 20px;
}

#box {
    width: 500px;
    height: 200px;
    border: 2px solid #ffffff;
    margin: 0 auto;
    font-size: 20px;
}

#dialogue {
    display: flex;
    height: 160px;
}

#dialogue p {
    margin: 20px 20px;
    word-break: break-all; /* Forzar a romper palabras largas */
    white-space: normal; /* Para asegurar que el texto se ajusta correctamente */
}

#dialogue img {
    margin-left: 20px;
    margin-top: 10px;
}

#button {
    display: grid;
    justify-content: right;
    margin-right: 20px;
}

button {
    border: 2px solid #ffffff;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:active {
    color: black;
    background-color: white;
    border: black;
}

#dev {
    color: red;
}
