<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>PORTFOLIO</title>
</head>
<body>
    <header>
        
    </header>

    <section id="name">
        <div>
            <h1>ANTHONY ALVAREZ</h1>
        </div>
        <div>
            <p>developer</p>
        </div>
    </section>

    <section id="box">
        <div id="dialogue-box">
            <div id="image">
                <img src="/assets/img/dialogue_face_sample2.png" alt="">
            </div>
            <div id="text">
                <p>Hello! I'm Chris</p>
            </div>
            <button>Get to know me</button>
        </div>
    </section>
</body>
</html>